<div class="add-new-patient-section" gdAuto="row dense">
    <h2 fxFlexOffset="2%">Add New Patient</h2>
  <div>
    <span (click)="closeMessage()" *ngIf="submitedValid">New Patient Added Succesfull!</span>
    <span (click)="closeMessage()" *ngIf="submitedInvalid">Error, please try again!</span>
  </div>

  <form [formGroup]="addNewPatientForm" (ngSubmit)="saveNewPatient(addNewPatientForm.value)" fxFlex="60" fxFlexOffset="8%">
    <div class="row service-user-row" gdGap="10px 10px">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>First name:</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="addNewPatientForm.controls['firstName'].invalid">{{ getFirstNameNameErrMsg() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Last name:</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="addNewPatientForm.controls['lastName'].invalid">{{ getLastNameErrMsg() }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Birth date</mat-label>
        <input matInput #input [matDatepicker]="picker" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="addNewPatientForm.controls['birthDate'].invalid">{{ getBirthDateErrMsg() }}</mat-error>
      </mat-form-field>
    </div>
    <div gdGap="10px 10px">
      <mat-form-field appearance="fill" fxFlex="50">
        <mat-label>VAT code:</mat-label>
        <input matInput formControlName="VATcode">
        <mat-error *ngIf="addNewPatientForm.controls['VATcode'].invalid">{{ getVatCodeErrMsg() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="50">
        <mat-label>Email:</mat-label>
        <input type="email" matInput formControlName="email" [email]="true">
        <mat-error *ngIf="addNewPatientForm.controls['email'].invalid">{{ getEmailErrMsg() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Doctor:</mat-label>
        <mat-select formControlName="doctors">
          <mat-option *ngFor="let doctor of doctorsList" [value]="doctor.firstName">
            {{doctor.firstName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addNewPatientForm.controls['doctors'].invalid">{{ getDoctorsErrMsg() }}</mat-error>
      </mat-form-field>
    </div>
    <div>

      <div formGroupName="address">
        <!-- Home address -->
        <div gdGap="10px 10px">
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Phone number:</mat-label>
            <input matInput formControlName="phone" pattern="[“^\+?[0-9\s]+$]*" required>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Street:</mat-label>
            <input matInput formControlName="street" required>
          </mat-form-field>
        </div>
        <div gdGap="10px 10px">
          <mat-form-field appearance="fill" fxFlex="40">
            <mat-label>City:</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="20">
            <mat-label>Zip code:</mat-label>
            <input matInput formControlName="zip" required>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="40">
            <mat-label>Country:</mat-label>
            <input matInput formControlName="country" required>
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button type="submit" mat-raised-button [disabled]="!addNewPatientForm.valid" color="primary">
        <mat-icon>save </mat-icon> Save New Patient
      </button>
    </div>
  </form>
</div>