<div class="patient-list-section" *ngIf="!singlePatient">
    <table mat-table [dataSource]="dataSource">
  
        <!-- firstName Column -->
        <ng-container matColumnDef="First name">
          <th mat-header-cell *matHeaderCellDef > First name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
        <!-- lastName Column -->
        <ng-container matColumnDef="Last name">
          <th mat-header-cell *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
      
        <!-- registeredDate Column -->
        <ng-container matColumnDef="Registered date" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> Registered date </th>
          <td mat-cell *matCellDef="let element"> {{element.registeredDate | date}} </td>
        </ng-container>
    
        <!-- doctor Column -->
        <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor </th>
            <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
          </ng-container>
      
        <!-- Phone Column -->
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.addresses[0].phone}} </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.addresses[0].email}} </td>
          </ng-container>
    
          <!-- Street Column -->
        <ng-container matColumnDef="Street">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.addresses[0].street}} </td>
          </ng-container>
    
        <!-- City Column -->
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.addresses[0].city}} </td>
          </ng-container>
    
        <!-- Zip Column -->
          <ng-container matColumnDef="Zip">
            <th mat-header-cell *matHeaderCellDef> Zip </th>
            <td mat-cell *matCellDef="let element"> {{element.addresses[0].zipcode}} </td>
          </ng-container>
    
        <!-- Country Column -->
          <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.addresses[0].country}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getPatientDetails(row)"></tr>
        
      </table>
</div>

<app-patient-item [patient]="patientItems" *ngIf="singlePatient"></app-patient-item>