.patient-list-section {
    
    table {
      width: 80%;
      margin: 50px auto;
      transition: 2s;
      td,
      th {
      text-align: left;
      font-size: 0.8rem;
        
      }
      tr.mat-row:hover {
        background-color: #F2F2F2;
      }
    }
  }
  

  