<div  gdAuto="row dense">
    <h2 fxFlexOffset="2%">Single Patient</h2>

  <div class="single-patient-section" fxFlex="60" fxFlexOffset="8%" *ngIf="patient">
    <div class="row service-user-row" gdGap="10px 10px">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>First name:</mat-label>
        <input matInput [value]="patient.firstName" disabled>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Last name:</mat-label>
        <input matInput [value]="patient.lastName" disabled>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Birth date</mat-label>
        <input matInput [value]="patient.birthDate" disabled>
      </mat-form-field>
    </div>
    <div gdGap="10px 10px">
      <mat-form-field appearance="fill" fxFlex="50">
        <mat-label>VAT code:</mat-label>
        <input matInput [value]="patient.VATcode" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="50">
        <mat-label>Email:</mat-label>
        <input matInput [value]="patient.email" disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Doctor:</mat-label>
        <input matInput [value]="patient.doctor" disabled>
      </mat-form-field>
    </div>
    <div>

      <div>
        <!-- Home address -->
        <div gdGap="10px 10px">
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Phone number:</mat-label>
            <input matInput [value]="patient.phone" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Street:</mat-label>
            <input matInput [value]="patient.street" disabled>
          </mat-form-field>
        </div>
        <div gdGap="10px 10px">
          <mat-form-field appearance="fill" fxFlex="40">
            <mat-label>City:</mat-label>
            <input matInput [value]="patient.city" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="20">
            <mat-label>Zip code:</mat-label>
            <input matInput [value]="patient.zip" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="40">
            <mat-label>Country:</mat-label>
            <input matInput [value]="patient.country" disabled>
          </mat-form-field>
        </div>
      </div>
    </div>


</div>
</div>
